# Ty Matty

## Research question/interests

I played baseball as my main sport and many others growing up. Statistics were always followed and always were worked on to get the attention of scouts or to see improvement.

In [11]:
import pandas as pd

In [12]:
pd.__version__

'1.3.3'

In [13]:
Batting = pd.read_csv("../data/raw/Batting.csv")

In [14]:
Batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0

In [17]:
Pitching = pd.read_csv("../data/raw/Pitching.csv")

In [18]:
Pitching

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,2020,1,TOR,AL,1,0,3,1,0,...,0.0,0,0.0,0,47.0,1,2,0.0,0.0,0.0
48395,zimmebr02,2020,1,BAL,AL,0,0,2,1,0,...,0.0,2,2.0,0,31.0,1,6,0.0,0.0,1.0
48396,zimmejo02,2020,1,DET,AL,0,0,3,2,0,...,0.0,0,0.0,0,28.0,0,6,0.0,0.0,1.0
48397,zimmeky01,2020,1,KCA,AL,1,0,16,1,0,...,0.0,2,1.0,0,91.0,4,4,0.0,0.0,3.0
48398,zuberty01,2020,1,KCA,AL,1,2,23,0,0,...,1.0,1,1.0,0,99.0,8,11,1.0,1.0,3.0

In [19]:
Salaries = pd.read_csv("../data/raw/Salaries.csv")

In [20]:
Salaries

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[26428 rows x 5 columns]

In [21]:
Fielding = pd.read_csv("../data/raw/Fielding.csv")

In [22]:
Teams = pd.read_csv("../data/raw/Teams.csv")

In [23]:
FieldingOF = pd.read_csv("../data/raw/FieldingOF.csv")

# Milestone 3

### Task 1 EDA

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns #Understanding my variables

### Graph 1 Parks

In [20]:
parks1 = pd.read_csv("../data/raw/Parks.csv")
parks1.head()

,park.key,park.name,park.alias,city,state,country
0,ALB01,Riverside Park,NaN,Albany,NY,US
1,ALT01,Columbia Park,NaN,Altoona,PA,US
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US
3,ARL01,Arlington Stadium,NaN,Arlington,TX,US
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,US

In [21]:
parks1_clean = (parks1
                .dropna(axis=0)
                .sort_values(by = "park.key", ascending = True)
               )
parks1_clean.head()

,park.key,park.name,park.alias,city,state,country
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,US
15,BAL09,Oriole Park IV,American League Park,Baltimore,MD,US
16,BAL10,Terrapin Park,Oriole Park V,Baltimore,MD,US
19,BOS01,South End Grounds I,Walpole Street Grounds,Boston,MA,US

In [22]:
parks2_clean = (parks1_clean
                .drop(["park.key"], axis = 1)
                .dropna(axis = 0)
               )
parks2_clean.head()

,park.name,park.alias,city,state,country
2,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US
4,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,US
15,Oriole Park IV,American League Park,Baltimore,MD,US
16,Terrapin Park,Oriole Park V,Baltimore,MD,US
19,South End Grounds I,Walpole Street Grounds,Boston,MA,US

In [25]:
parks2_clean.columns

Index(['park.name', 'park.alias', 'city', 'state', 'country'], dtype='object')

In [29]:
parks2_clean.rename({'park.name': "Park Name", 'park.alias': "Park Alias", 'city': "City", 'state': "State", 'country': "Country"})

,park.name,park.alias,city,state,country
2,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US
4,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,US
15,Oriole Park IV,American League Park,Baltimore,MD,US
16,Terrapin Park,Oriole Park V,Baltimore,MD,US
19,South End Grounds I,Walpole Street Grounds,Boston,MA,US
20,Dartmouth Grounds,Union Park,Boston,MA,US
26,Braves Field,Bee Hive,Boston,MA,US
30,International Fair Association Grounds,Federal League Park,Buffalo,NY,US
31,Mahaffey Park,Pastime Park,Canton,OH,US
33,Lake Front Park I,Union Base-ball Grounds,Chicago,IL,US
36,South Side Park I,Cricket Club Grounds; Union Grounds,Chicago,IL,US
41,Comiskey Park I,White Sox Park,Chicago,IL,US
42,Wrigley Field,Weeghman Park; Cubs Park,Chicago,IL,US
43,Guaranteed Rate Field,U.S. Cellular Field;White Sox Park; Comiskey P...,Chicago,IL,US
44,Lincoln Park Grounds,Union Cricket Club Grounds,Cincinnati,OH,US
49,Palace of the Fans,League Park III,Cincinnati,OH,US
50,Crosley Field,Redland Field,Cincinnati,OH,US
51,Cinergy Field,Riverfront Stadium,Cincinnati,OH,US
54,League Park I,Kennard Street Park,Cleveland,OH,US
55,League Park II,American Association Park,Cleveland,OH,US
56,Brotherhood Park,Players League Park,Cleveland,OH,US
57,League Park III,National League Park III,Cleveland,OH,US
58,League Park IV,Dunn Field,Cleveland,OH,US
59,Cleveland Stadium,Municipal Stadium,Cleveland,OH,US
60,Progressive Field,Jacobs Field,Cleveland,OH,US
73,Burns Park,West End Park,Detroit,MI,US
74,Tiger Stadium,Navin Field; Briggs Stadium,Detroit,MI,US
78,Grand Duchess,Hamilton Field,Fort Wayne,IN,US
81,Geauga Lake Grounds,Beyerle's Park,Geauga Lake,OH,US
90,Minute Maid Park,Enron Field; Astros Field,Houston,TX,US
99,Federal League Park,Washington Park,Indianapolis,IN,US
108,Kauffman Stadium,Royals Stadium,Kansas City,MO,US
109,Perry Park,Walte's Pasture,Keokuk,IA,US
115,Dodger Stadium,Chavez Ravine,Los Angeles,CA,US
122,Sun Life Stadium,JoeRobbie; ProPlayer; Dolphin; LandShark,Miami,FL,US
136,Parc Jarry,Jarry Park,Montreal,QC,CA
137,Stade Olympique,Olympic Stadium,Montreal,QC,CA
138,Howard Avenue Grounds,Brewster Park,New Haven,CT,US
140,Geauga Lake Grounds,Beyerle's Park,Geauga Lake,OH,US
148,Grauer's Ridgewood Park,Ridgewood Park I,Queens,NY,US
158,Shea Stadium,William A. Shea Stadium,New York,NY,US
159,Wallace's Ridgewood Park,Ridgewood Park II,Queens,NY,US
163,Oakland-Alameda County Coliseum,Network Associates Coliseum,Oakland,CA,US
165,East End Park,Pendleton Park,Cincinnati,OH,US
166,Jefferson Street Grounds,Athletics Park,Philadelphia,PA,US
176,Shibe Park,Connie Mack Stadium,Philadelphia,PA,US
180,Chase Field,Bank One Ballpark,Phoenix,AZ,US
182,Exposition Park I,Lower Field,Pittsburgh,PA,US
183,Exposition Park II,Upper Field,Pittsburgh,PA,US
198,Qualcomm Stadium,San Diego/Jack Murphy Stadium,San Diego,CA,US
202,Safeco Field,T-Mobile Park,Seattle,WA,US
204,Candlestick Park,3Com Park,San Francisco,CA,US
205,AT&T Park,Pacific Bell Park; SBC Park,San Francisco,CA,US
207,Hampden Park Race Track,Springfield Track,Springfield,MA,US
214,Sportsman's Park III,Busch Stadium I,St. Louis,MO,US
215,Handlan's Park,Federal League Park,St. Louis,MO,US
220,Star Park I,Newell Park,Syracuse,NY,US
230,Rogers Centre,Skydome,Toronto,ON,CA
243,Robert F. Kennedy Stadium,D.C. Stadium,Washington,DC,US